body {
    font-family: 'Poppins', sans-serif;
}

header {
    background-image: linear-gradient(to right, #007bff, #28a745);
}

h2 {
    color: #007bff;
    font-weight: 600;
}

.icon i {
    color: #28a745;
}

footer {
    background-color: #f8f9fa;
}